@page
@model IndexModel
@{
    ViewData["Title"] = "Markis-Hajk";
}

<div class="text-center">
    <h1 class="display-4">Markis - Hajk </h1>
    <p>Kommunikationshub.</p>
    <br />
    <p>Detta är en landningssida för kommunikationshubben som hanterar kommunikation mellan Markis och Hajk.</p>
    <p>För att koppla upp mot hubben, lägg till /markishub på url:en.</p>
</div>
